<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all Home Chores</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/header :: navbar}"></nav>
<div class="container">
    <h1>Chores</h1>
    <a th:href="@{/homeChore/new}" class="btn">Create new Chore</a>

    <table>
        <thead>
            <tr>
                <th>Chore</th>
                <th>Room</th>
                <th>Importance</th>
                <th>Estimated time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="chore : ${homeChores}">
                <td th:text="${chore.chore}"></td>
                <td th:text="${chore.room}"></td>
                <td th:text="${chore.important}"></td>
                <td th:text="${chore.estimatedTime}"></td>
                <td class="action-links">
                    <a th:href="@{/homeChore/{id}(id=${chore.id})}" class="btn">
                        Show details
                    </a>
                    <a th:href="@{/homeChore/{id}/edit(id=${chore.id})}" class="btn">
                        Edit chore
                    </a>

                    <form th:action="@{/homeChore/{id}(id=${chore.id})}"
                          method="post"
                          style="display: inline">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-danger">Delete chore</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="back-link">Back to homepage</a>
</div>
</body>
</html>